

/*************
 *  GENERAL  *
 *************/
body {
    background: #fdfdfd;
    font-family:'Open Sans', sans-serif;
}

.jumbotron {
    background: #fdfdfd;
}


/************
 *  HEADER  *
 ************/
/* Header nav */
header nav.navbar {
    margin: 0;
}

/**********
 *  BODY  *
 **********/

.margin { margin: 30px 0 30px 0;}
.margin10top { margin-top: 10px ;}

/* Margin for body to prevent unused space from the header/footer nav menu. */
body > .container {
    margin-top: 75px;
    margin-bottom: 75px;
    
}

.well {
    text-align: center;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  
 border: 0px solid #e3e3e3;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0);}

input{
line-height: normal;

}
/**********
 *  CARROUSSEL  *
 **********/
.carousel-control.left{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
.carousel-control.right{
background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);


}
/**********
 *  BUTTON  *
 **********/
.btn-mangaki{
color: #fff;
background-color: #E84C15;

}
.btn:hover, .btn:focus {
color: #fff;
text-decoration: none;
}
.btn-lg{
padding: 25px 25px;
font-size: 20px;
line-height: 1.33;
border-radius: 5px;


}





/************
 *  FOOTER  *
 ************/
/* Centering the content in the footer nav menu. */
footer .navbar-collapse {
    text-align: center;
}
footer .navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}

/* Footer is not fixed on small devices. */
@media(min-width: 768px) and (max-width: 1000px) {
    footer .navbar-fixed-bottom {
    position: inherit;
    }
}
.copyright{

font-size: 9px;
text-align: center;
color: #b2B2B2;
}




.mangas-list .manga-sheet .row {
    margin-left: 0px;
    margin-right: -15px;
}
.mangas-list .manga-sheet .row > div {
    padding: 0;
}
.mangas-list .manga-sheet:hover .thumbnail {
    background-color: #FFF;
   /*margin-left: -10px;
    padding-left: 10px;
    margin-right: -10px;
    padding-right: 10px;*/
}
/*.mangas-list .manga-sheet:hover .manga-snapshot .manga-snapshot-image {
    width: 100%;
}*/
.mangas-list .manga-sheet .thumbnail:not(:hover) {
    /*background-color: #DDD;*/
    /*border-color: #DDD;*/
    opacity: 0.8;
}

.mangas-list .manga-sheet .manga-snapshot {
    z-index: 64;
}
.mangas-list .manga-sheet .manga-snapshot .manga-snapshot-image {
    height: 321px;
    width: 225px;
    background-size: cover;
    background-repeat: no-repeat!important;
    
   
}

.mangas-list .manga-sheet .row .btn {
    margin-top: 1px;
    position: relative;
}
.mangas-list .manga-sheet .row .btn:hover {
    z-index: 128;
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 0px solid #ddd;
    border-radius: 0px;
  -webkit-transition: all .0s ease-in-out;
  transition: all .0s ease-in-out;
}
@media(min-width: 768px) and (max-width: 1000px) {
    .mangas-list .manga-sheet .row .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
}



.thumbnail .col-md-12 {
    height: 4em;
    line-height: 4em;
}

.manga-sheet h1 {
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    font-size: 1.3em;
    /* height: 2em; */
}

.not-chosen {
    opacity: 0.2;
}

.another .not-chosen {
    visibility: hidden;
}

.manga-snapshot-image, .manga-sheet h1 {
    cursor: pointer;
}

.flatlist:hover {
    background: #d9d9d9;
    /* font-size: 2em; */
}

.flatlist {
    padding: 2px 2px 2px 5px;
    border-radius: 4px;
}

#avatar {
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
}

.btn-favorite {
color: #fff;
background-color: #f8d549;
border-color: #f8d549;

}
.label-favorite {
background-color: #f8d549;
}
