{% extends "base.html" %}

{% block body %}
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">Mangaki, la recommandation d'anime et manga</h1>

    <figure style="float: left; margin-top: 1em; margin-right: 1em">
        <img src="/static/img/chiro.png" alt="Chiro" height="128">
    </figure>

    <p>Mangaki a été créé par 3 passionnés qui cherchaient un moyen efficace de choisir leur prochaines séries d'<em>anime</em>/manga.</p>
    
    <p>À partir des séries que vous avez vues ou lues, il trouve celles qui sont le plus susceptibles de vous plaire et vous les conseille !</p>

    <p>Notre objectif est de rassembler les fans francophones d’anime et de manga autour d’une passion commune, et de leur permettre de la partager avec le reste de la communauté en partageant leurs avis, commentaires, conseils…</p>

    <p>Si vous souhaitez participer au projet, nous en serons ravis ! Vous pouvez déjà discuter sur <a href="http://meta.mangaki.fr" target="_blank">le forum</a> et proposer des améliorations de la base de données. Si vous voulez vous investir davantage (développement, communication, etc.), écrivez-nous à <a href="mailto:info@mangaki.fr">info@mangaki.fr</a>, et nous vous trouverons de quoi faire sans souci ;)</p>
</div>
<hr />
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">L'équipe : le Trio ELM</h1>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4">
        <aside class="performer">
            <a href="https://www.facebook.com/leslueursdelily"><img src="/static/img/lily.png" alt="Lily" /></a>
        </aside>
        <h2>Lily</h2>Camille Laïly
        <h3>Présidente</h3>
        <hr />
        <p style="font-style: italic">Passionnée de japanimation et de musique, elle a créé Mangaki pour son projet de fin d’études des Mines de Paris ; elle s’occupe de la gestion, communication et partenariats du projet.</p>
        <p style="font-style: italic">À part ça, elle est chanteuse, rousse et fanatique de l'anime Mushishi, dont elle vous parlera pendant des jours si vous la laissez faire.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <aside class="performer">
            <a href="https://www.youtube.com/user/Xnihpsel"><img src="http://gravatar.com/avatar/fcd569fc83fdbc218172f67ed4302734" alt="Jiji" /></a>
        </aside>
        <h2>JJ</h2>Jill-Jênn Vie
        <h3>Développeur</h3>
        <hr />
        <p style="font-style: italic">Il fait une thèse d’apprentissage statistique à l’université Paris-Saclay. Il a conçu l’algorithme de recommandation et s’occupe des aspects techniques du site.</p>
        <p style="font-style: italic">Fan absolu de Yoko Kanno, il regrettera à jamais la disparition de Satoshi Kon.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <aside class="performer">
            <a href="http://sedeto.fr"><img src="/static/img/sedeto.png" alt="Sedeto" /></a>
        </aside>
        <h2>Sedeto</h2>Solène Pichereau
        <h3>Directrice artistique</h3>
        <hr />
        <p style="font-style: italic">Elle travaille en tant que graphiste manga pour le Groupe Delcourt. C’est elle qui a réalisé le logo et la communication de Mangaki.
        <p style="font-style: italic">Mais elle est avant tout otaku passionnée qui aime Kunihiko Ikuhara et le studio Shaft, ainsi que les shôjo et les hentaï. Tant d’inspiration qui se retrouvent dans ses illustrations. Vous pouvez retrouver ses illustrations chez Doujin Style et ses critiques d’anime chez Mangacast.</p>
    </div>
</div>
<hr />
<div>
    <h1 style="margin-bottom: 0.6em; text-align: center">Les contributeurs</h1>

    <p><strong>Romain Canon</strong> est web développeur, et participe au design du site.</p>

    <p><strong>Marie-Amélie Jehanno</strong> dirige le cabinet Chromatic HR. Elle est la conseillère en marketing de Mangaki.</p>

    <p><strong>Philippe Mustar</strong> est professeur aux Mines de Paris, et spécialisé dans l’entrepreneuriat. Il fait partie des conseillers de Mangaki.</p>
</div>
<br />
<br />
<br />
{% endblock %}
