{% extends "base.html" %}

{% block body %}
    
<div class="row">
    {% if not user.is_authenticated %}
    <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/about/">En savoir plus</a></div>
    <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="/user/signup/">S'inscrire</a></div> 
    <div class="col-md-4 col-sm-12 margin" style="text-align: center"> <a class="btn btn-mangaki btn-lg" href="https://bitbucket.org/mangaki/mangaki/src" target="_blank">Voir le code</a> </div>
    {% else %}
        <div class="col-md-3 col-sm-3 margin" style=""> </div>
     <div class="col-md-3 col-sm-3 margin" style="">     <a class="btn btn-mangaki btn-lg" href="/anime/">C'est parti !</a></div>
     <div class="col-md-3 col-sm-3 margin" style="">     <a class="btn btn-mangaki btn-lg" href="/u/{{ user.username }}">Importer myAnimeList</a></div>
     <div class="col-md-3 col-sm-3 margin" style=""> </div>
    {% endif %}
</div>

<div class="row" style="text-align: center">
    <div class="col-md-12 col-sm-12 margin"><img src="/static/img/help.jpg" style="max-width: 100%" /></div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.japan-expo-paris.com" target="_blank"><img height="150" src="/static/img/sponsors/JapanExpo.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://noco.tv"><img height="90" src="/static/img/sponsors/noco.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center; margin-top: 2em">
        <a href="http://www.manga-news.com" target="_blank"><img src="/static/img/sponsors/manganews.png" /></a>
    </div>
</div>
<div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.crunchyroll.com" target="_blank"><img height="100" src="/static/img/sponsors/crunchyroll.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.fnac.com"><img height="150" src="/static/img/sponsors/Fnac.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center; margin-top: 2em">
        <a href="http://manga.kaze.fr" target="_blank"><img height="130" src="/static/img/sponsors/kaze.jpeg" /></a>
    </div>
</div>
<div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.editions-delcourt.fr" target="_blank"><img height="150" src="/static/img/sponsors/delcourt.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.mangacafe.fr/"><img height="150" src="/static/img/sponsors/mangaCafe.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center; margin-top: 2em">
        <a href="http://www.taifu-comics.com/" target="_blank"><img height="150" src="/static/img/sponsors/taifu.png" /></a>
    </div>
</div>
<div>
    <div class="col-sm-12 col-md-4" style="text-align: center">
        <a href="http://www.ototo.fr/"><img height="100" src="/static/img/sponsors/ototo.png" /></a>
    </div>
    <div class="col-sm-12 col-md-4" style="text-align: center; margin-top: 2em">
        <a href="http://www.nolife-tv.com/" target="_blank"><img height="130" src="/static/img/sponsors/nolife.png" /></a>
    </div>
</div>

<br />
<br />
<br />
{% endblock %}
