{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-xs-2">
        <img src="{{ avatar_url }}" alt="Avatar de {{ username }}" id="avatar" />
    </div>
    <div class="col-xs-6">
        <h1>{{ username }}</h1>
        <p><b>Score : {{ score }} pts</b></p>
	{% if request.user.username == username %}
        <p>
	    Pour personnaliser ton profil, connecte-toi sur
            <a href="http://meta.mangaki.fr/session/sso" target="_blank">Meta Mangaki</a>.
        </p>
        {% endif %}
        <p>Inscrit depuis {{ member_days }} jours</p>
    </div>
    <div class="col-xs-4">
        {% if request.user.username == username %}
            <br />
            Profil public : <input type="checkbox" name="is_shared" {% if user.profile.is_shared %} checked{% endif %}/>
            <hr />
	    Afficher visuels pour public averti : <input type="checkbox" name="nsfw_ok" {% if user.profile.nsfw_ok %} checked{% endif %}/>
            <hr />
	    Recevoir la newsletter : <input type="checkbox" name="newsletter_ok" {% if user.profile.newsletter_ok %} checked{% endif %}/>
            <hr />
            <p>Importer depuis myAnimeList :</p>
            <div class="input-group">
                <input type="text" class="form-control" id="mal_username" placeholder="Ton login" onkeydown="if(event.keyCode == 13) {$('#import_mal').click(); this.value = ''};" />
                <span class="input-group-btn">
                    <button id="import_mal" class="btn btn-default">OK</button>
                </span>
            </div>
        {% endif %}
    </div>
</div>

<ul class="nav nav-tabs">
    <li role="presentation"{% if category == 'anime' %} class="active"{% endif %}><a href="/u/{{ username }}">Liste d'<em>anime</em> de {{ username }} <span class="badge alert-info">{{ anime_count }}</span></a></li>
    <li role="presentation"{% if category == 'manga' %} class="active"{% endif %}><a href="/u/{{ username }}?category=manga">Liste de mangas de {{ username }} <span class="badge alert-info">{{ manga_count }}</span></a></li>
    <li role="presentation"{% if category == 'recommendation' %} class="active"{% endif %}><a href="/u/{{ username }}?category=recommendation">Liste de recommandations de {{ username }}</a></li>
    {% if best_neighbors_list %}
    <li role="presentation"{% if category == 'neighbor' %} class="active"{% endif %}><a href="/u/{{ username }}?category=neighbor">Les {{ neighbor_count }} plus proches voisins de {{ username }}</a></li>
    {% endif %}
</ul>
<div class="row mangas-list{% if request.user.username != username %} another{% endif %}">
    {% if not is_shared %}
        <br />
        <p class="well">Le profil de {{ username }} n'est pas public.</p>
    {% else %} 
    {% if best_neighbors_list and category == 'neighbor' %}
        <div class="col-xs-4 col-xs-offset-1">
           <h1>Les {{ neighbor_count }} plus proches voisins de {{ username }}</h1>
           {% for user in best_neighbors_list %}
           <div class="row">
               <div class="col-xs-3">
                   <img src="{{ user.profile.get_avatar_url }}" alt="Avatar de {{ user.username }}" id="avatar" />
               </div>
               <div class="col-xs-7">
                   <h4><a href="/u/{{ user.username }}">{{ user.username }}</a></h4>
                   <p>Nombre d'<em>œuvres</em> vues : {{ user.profile.get_anime_count }}</p>
               </div>
           </div>
           {% endfor %}  
        </div>
    {% else %}
    {% if category == 'recommendation' %}
        <div class="col-xs-4 col-xs-offset-1">
            <h1>Recommandations envoyées</h1>
            {% for object in sent_recommendation_list %}
                <p class="row flatlist"><a href="/{{ object.category }}/{{ object.id }}">{{ object.title }}</a> a été conseillé à <a href="/u/{{ object.username }}">{{ object.username }}</a> {% if request.user.username == username %}<a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}" data-target="{{ object.username }}" data-user="{{ username }}" onclick="removeReco(this)" title="supprimer la recommandation"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</p>
            {% empty %}
                <p>(Cette liste est vide.)</p>
            {% endfor %}
        </div>
        <div class="col-xs-4 col-xs-offset-1">
            <h1>Recommandations reçues</h1>
            {% for object in received_recommendation_list %}
                <p class="row flatlist"><a href="/{{ object.category }}/{{ object.id }}">{{ object.title }}</a> est conseillé par <a href="/u/{{ object.username }}">{{ object.username }}</a> {% if request.user.username == username %}<a class="btn btn-danger btn-xs" style="float: right" data-work="{{ object.id }}" data-target="{{ username }}" data-user="{{ object.username }}" onclick="removeReco(this)" title="supprimer la recommandation"><span class="glyphicon glyphicon-remove"></span></a>{% endif %}</p>
            {% empty %}
                <p>(Cette liste est vide.)</p>
            {% endfor %}
	    {% if request.user.username == username and received_recommendation_list %}<p class="row flatlist"><a class="btn btn-danger" data-target="{{ username }}" onclick="removeAllReco(this)" title="supprimer toutes les recommandations reçues"><span class="label label-danger"><span class="glyphicon glyphicon-remove"></span> Supprimer toutes les recommandations reçues</span></a></p>{% endif %}
        </div>
    {% else %}
        <div class="col-xs-4 col-xs-offset-1">
            <h1>{% if category == 'anime' %}<a href="/anime">Anime</a> vus{% else %}<a href="/manga">Mangas</a> lus{% endif %}</h1>
            {% for object in seen_list %}
                {% include "work_no_poster.html" with work=object.work class=category rating=object.choice %}
            {% empty %}
                <p>(Cette liste est vide.)</p>
            {% endfor %}
        </div>
        <div class="col-xs-4 col-xs-offset-1">
            <h1>{% if category == 'anime' %}<a href="/anime">Anime</a> à voir (ou non){% else %}<a href="/manga">Mangas</a> à lire (ou pas){% endif %}</h1>
            {% for object in unseen_list %}
                {% include "work_no_poster.html" with work=object.work class=category rating=object.choice %}
            {% empty %}
                <p>(Cette liste est vide.)</p>
            {% endfor %}
        </div>
    {% endif %}
    {% endif %}
    {% endif %}
</div>
<br />
<br />
<br />
<script>
$("[name='is_shared']").bootstrapSwitch();
$("[name='is_shared']").on('switchChange.bootstrapSwitch', function(event, state) {
    $.post('/shared/', {is_shared: state});
});
$("[name='nsfw_ok']").bootstrapSwitch();
$("[name='nsfw_ok']").on('switchChange.bootstrapSwitch', function(event, state) {
    $.post('/nsfw/', {nsfw_ok: state});
});
$("[name='newsletter_ok']").bootstrapSwitch();
$("[name='newsletter_ok']").on('switchChange.bootstrapSwitch', function(event, state) {
    $.post('/newsletter/', {newsletter_ok: state});
});
$("#import_mal").on('click', function() {
    $.post('/mal/' + $('#mal_username').val(), function(data) {
        console.log(data);
        location.reload();
    });
});

function removeReco(elt) {
  $.post('/removeReco/' + $(elt).data('work') + '/' + $(elt).data('user') + '/' + $(elt).data('target'));
  setTimeout(function(){
    location.reload();
  }, 500);
}

function removeAllReco(elt) {
  $.post('/removeReco/' + $(elt).data('target'));
  setTimeout(function(){
    location.reload();
  }, 1000);
}
</script>
{% endblock %}
